<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bhasha - Learn Languages</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand page-scroll" href="#page-top"> <img src="img/logo1.png" alt=""> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#subscribe">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2 class="text-uppercase">
              <strong>Lets help the endagered languages survive!</strong>
            </h2>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
 
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#subscribe">Subscribe</a>
          </div>
        </div>
      </div>
    </header>

    <section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <h2 class="section-heading">How it works !</h2>
                <hr class="light">
                <p class="text-center">
                    1. Enroll to which ever the language course that you want to learn.

                </p>
                <p class="text-center">
                    2. Learn a laguage through English. <br/>
                        (Since English is the most common language, its makes it a lot easier)
                </p>
                <p calss="text-center">
                    3. Go through simplified, gamified and micro-sized lessons. 
                        <br/>
                    (lesson duration not more than 2 mins)
                </p>
                <p calss="text-center">
                    4. Master the lessons and you'll master the language.
                </p>
                <a href="#subscribe" class="page-scroll btn btn-success btn-xl sr-button">Subscribe!</a>
            </div>
        </div>
    </div>
    </section>




    <section class="bg-primary" id="subscribe">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">subscribe to our newsletter!</h2>
            <hr class="light my-4">
             <p>Enter your email id and get notified when our site is ready to use.
              <br/>get a chance to become a beta user...
              <br/> We are creating the content to our site, we don't have any extra to spam you!! 
            </p>
           

            <form action="/insert" method="post">

               <input type="email" id="email"
               pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"
               name="email" size="50" required>

                <button type="submit">subscribe</button>
            </form>

            
          </div>
        </div>
      </div>
    </section>



    


     <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 mx-auto text-center">
                    <h2 class="section-heading">Our Team!</h2>
                    <hr class="primary">
                    <p>3 Engineers (Software Developers) <br>
                        1 Educationist <br>
                        1 Assistant Professor <br>
                        2 support engineers/ graphic artists<br>
                        more than 50 generous knowledge contributors
                        <br><hr> 
                    </p>
                    
                    <br><br>

                </div>
                
            </div>
        </div>
    </section>


    

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
